<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a href="#" class="navbar-brand">
    Angular Routing Example
  </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lists">List Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/additem">Add Items</a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container">
  <br>
  <router-outlet></router-outlet>
</div>