<h2>Click Submit button to add Items!</h2>

<form>
    <div class="form-group">
        <label for="part">Part Name:</label>
        <input type="text" name="part" class="form-control" placeholder="Enter Part Name">
    </div>
    <div class="form-group">
        <label for="brand">Vehicle Brand:</label>
        <input type="text" name="brand" class="form-control" placeholder="Enter Vehicle Name">
    </div>
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="text" name="quantity" class="form-control" placeholder="Enter Quantity of Part">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
