<div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
        <h5 class="card-title">COVID-19</h5>
        <p class="card-text">Get the latest offers and services provided at our service station!</p>
        <a href="#" class="btn btn-primary">Get Connected | See more</a>
    </div>
</div>
 
<br>

<div class="card">
    <h5 class="card-header">Stay Safe & Drive Safe</h5>
    <div class="card-body">
        <h5 class="card-title">RAMA Automobiles</h5>
        <p class="card-text">While supporting the nation, we also oath to support our customers and provide them the service.</p>
        <a href="#" class="btn btn-primary">See more</a>
    </div>
</div>